* {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #6c757d;
}
body {
	background: black;
}
/* nav */
nav.h-nav {
	background: transparent;
	padding: 1rem 0;
	transition: 0.5s all;
}
nav .navbar-brand {
	font-size: 2rem;
	color: #fff;
}

nav .navbar-nav li a {
	color: rgba(255, 255, 255, 0.8) !important;
	font-size: 1rem;
	letter-spacing: 0.05em;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
}
nav .navbar-nav li {
	margin-left: 15px;
}
nav.h-nav.stickyadd {
	background: white !important;
	padding: 1rem 0;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0, 0.5);
	/* transition: 0.5s all ease-in-out; */
}
nav.stickyadd .navbar-brand {
	color: black;
	font-size: 2.5rem;
	/* transition: 0.8s all; */
}
nav.stickyadd .navbar-nav .nav-link {
	color: black !important;
}
.navbar .hamburger{
    color: white;
}
nav.stickyadd .hamburger{
    color: black;
}
/* header section */
header{
	height: 100vh;
	width: 100%;
}
.header-content{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content-box{
	max-width: 700px;
	color: white;
}
.content-box h4{
	font-size: 30px;
}
.content-box h1{
	font-size: 52px;
}
.content-box a{
	color: white;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 25px;
}
.content-box a:hover{
	color: black;
	background:white;
	transition: 0.5s all;
}
.content-box p{
	color: #fff;
}